---
interface Props {
	title: string;
	body: string;
	href: string;
	img: string;
	alt: string;
}

const { href, title, body, img, alt } = Astro.props;
---

<li class="link-card w-60 h-auto text-green-500 flex flex-col border-green-500 text-xl">
	<div class="w-full h-min flex justify-between p-2 text-[#111611] uppercase font-bold font-mda bg-green-500">

		<h2>
			{title}
		</h2>
		<p class="lowercase">v - x</p>
	</div>
	<a href={href} class="w-full h-auto p-2 relative overflow-hidden">
		<img src={img} alt={alt} class="w-full min-h-0 relative"/>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	li{
		border: 1px solid;
	}
	img{
		object-fit: cover;
		transition: all .3s ease-out;
	}
	a:hover > img{
		min-height: 100%;
		/* width: auto; */
	}
</style>
