---
import { ViewTransitions } from 'astro:transitions';
import MatrixTransition from '../components/MatrixTransition.astro';
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string;
	location: string;
}

const TRANSITION_DURATION = 1000
const NEW_DELAY = TRANSITION_DURATION/2
const SLIDE_EASING = 'linear'
const SLIDE_FILLMODE = 'both'

const slideAnim = {
  old: {
    name: 'none',
    duration: TRANSITION_DURATION,
    easing: SLIDE_EASING,
    fillMode: SLIDE_FILLMODE,
  },
  new: {
    name: 'slideOut',
	delay:NEW_DELAY+'ms',
    duration: TRANSITION_DURATION - NEW_DELAY,
    easing: SLIDE_EASING,
    fillMode: SLIDE_FILLMODE,
  }
};

const slideTransition = {
  forwards: slideAnim,
  backwards: slideAnim,
};

const { title, location } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono&family=Poiret+One&family=Orbitron&display=swap" rel="stylesheet">
		<link rel="preload" href="/assets/IBM_VGA/VGA_PLUS.woff" as="font" type="font/woff" crossorigin> 
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body transition:name="slide" transition:animate={slideTransition}>
	<main class="flex w-screen h-screen justify-between overflow-hidden relative">

		<slot/>
		<Navbar selected={location} />
		<MatrixTransition duration={TRANSITION_DURATION}/>
	</main>
	</body>
</html>
<style is:global>
	:root{
		--bg-body:#111611;
		--green-500:#86efac;
	}
	html {
		background: #000;
		font-family: system-ui, sans-serif;
	}
	body{
		min-height: 100vh;
		overflow: hidden;
		background-color: var(--bg-body);
	}
	h1, h1> *{
		font-family: 'Space Mono';
		letter-spacing: 1rem;
		font-weight: 500;
	}
	p{
		font-family: 'IBM_VGA';
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	::view-transition-group(slide){
		animation: none;
	}
	::view-transition-image-pair(slide){
		isolation: auto;
	}
	::view-transition-new(slide),
	::view-transition-old(slide){
		mix-blend-mode: normal;
		display: block;
	}

	::-webkit-scrollbar{
		background-color: var(--bg-body);
	}
	::-webkit-scrollbar-thumb{
		background-color: var(--green-500);
		border-top:2px solid var(--bg-body);
		border-bottom:2px solid var(--bg-body);
	}
	::-webkit-scrollbar-button{
		background-color: var(--green-500);
		border-width: 0px;
		border-style: solid;
		border-color: var(--bg-body);
	}
	::-webkit-scrollbar-button:single-button:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent var(--bg-body) transparent;
}
::-webkit-scrollbar-button:single-button:increment {
  border-width: 8px 8px 0 8px;
  border-color: var(--bg-body) transparent transparent transparent;
}

	/* KEYFRAMES */

	@keyframes slideOut {
		from{
			clip-path: inset(0px 0px 100% 0px);
		}
		to{
			clip-path: inset(0px 0px 0px 0px);
		}
	}

		/* FUENTES */

		@font-face {
			font-family: 'IBM_VGA';
			src: url('/assets/IBM_VGA/VGA_PLUS.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}		
</style>