---
import { ViewTransitions } from 'astro:transitions';
import MatrixTransition from '../components/MatrixTransition.astro';
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string;
}

const TRANSITION_DURATION = 1000
const NEW_DELAY = TRANSITION_DURATION/2
const SLIDE_EASING = 'linear'
const SLIDE_FILLMODE = 'both'

const slideAnim = {
  old: {
    name: 'none',
    duration: TRANSITION_DURATION,
    easing: SLIDE_EASING,
    fillMode: SLIDE_FILLMODE,
  },
  new: {
    name: 'slideOut',
	delay:NEW_DELAY+'ms',
    duration: TRANSITION_DURATION - NEW_DELAY,
    easing: SLIDE_EASING,
    fillMode: SLIDE_FILLMODE,
  }
};

const slideTransition = {
  forwards: slideAnim,
  backwards: slideAnim,
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Merriweather+Sans&family=Roboto+Slab:wght@500&family=Space+Grotesk&family=Space+Mono&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title class="capitalize">{title}</title>
		<ViewTransitions/>
	</head>
	<body transition:name="slide" transition:animate={slideTransition}>
	<main class="flex w-full h-screen justify-between">

		<slot/>
		<Navbar selected={title} />
		<MatrixTransition duration={TRANSITION_DURATION}/>
	</main>
	</body>
</html>
<style is:global>
	html {
		background: #000;
		font-family: system-ui, sans-serif;
	}
	body{
		min-height: 100vh;
		overflow: hidden;
		background-color: #111611;
	}
	h1, h1> *{
		font-family: 'Space Mono';
		/* font-weight: 800; */
		letter-spacing: 1rem;
		font-weight: 500;
	}
	p{
		font-family: 'IBM_VGA_PLUS2';
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	::view-transition-group(slide){
		animation: none;
	}
	::view-transition-image-pair(slide){
		isolation: auto;
	}
	::view-transition-new(slide),
	::view-transition-old(slide){
		mix-blend-mode: normal;
		display: block;
	}

	::-webkit-scrollbar{
		background-color: #111611;
	}
	::-webkit-scrollbar-thumb{
		background-color: #86efac;
		border-top:2px solid #111611;
		border-bottom:2px solid #111611;
	}
	::-webkit-scrollbar-button{
		background-color: #86efac;
		border-width: 0px;
		border-style: solid;
		border-color: #111611;
	}
	::-webkit-scrollbar-button:single-button:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #111611 transparent;
}
::-webkit-scrollbar-button:single-button:increment {
  border-width: 8px 8px 0 8px;
  border-color: #111611 transparent transparent transparent;
}

	/* KEYFRAMES */

	@keyframes slideOut {
		from{
			clip-path: inset(0px 0px 100% 0px);
		}
		to{
			clip-path: inset(0px 0px 0px 0px);
		}
	}

		/* FUENTES */

		@font-face {
			font-family: 'IBM_MDA';
			src: url('/assets/fonts/IBM_MDA/MDA.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_MDA';
			src: url('/assets/fonts/IBM_MDA/MDA.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_MDA_PLUS';
			src: url('/assets/fonts/IBM_MDA/MDA_PLUS.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_VGA';
			src: url('/assets/fonts/IBM_VGA/VGA.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_VGA';
			src: url('/assets/fonts/IBM_VGA/VGA.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_VGA_PLUS';
			src: url('/assets/fonts/IBM_VGA/VGA_PLUS.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_VGA_PLUS2';
			src: url('/assets/fonts/IBM_VGA/VGA_PLUS.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'BOTERA';
			src: url('/assets/fonts/BoteraFont/Botera-Regular.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'BOTERA_STENCIL';
			src: url('/assets/fonts/BoteraFont/Botera-RegularStencil.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'SWIFT';
			src: url('/assets/fonts/Swift/Swift-04-Regular.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'SWIFTSC';
			src: url('/assets/fonts/Swift/Swift-04-RegularSC.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		/* @font-face {
			font-family: 'EMBERLY';
			src: url('https://www.behance.net/gallery/87667103/Emberly-Free-Typeface-54-Styles/modules/513862583') format('woff');
			font-weight: normal;
			font-style: normal;
		} */
		
</style>